.UserCard { 
    display: flex;
    flex-direction: row; 
    width: 100%; 
    border-bottom: solid 1px lightgray;
    padding: 20px;  
}

.rank { 
    width: 10%; 
}

.username { 
    width: 30%; 
}

.country { 
    width: 10%; 
}

.followers { 
    width: 10%; 
}

.views { 
    width: 10%; 
}

.likes { 
    width: 10%; 
}